.analytics__title {
    font-family: Roboto Slab;
    font-size: 26px;
    line-height: 30px;
    margin: 0 0 48px;
}
@media screen and (max-width: 414px) {
    .analytics__title {
        font-size: 22px;
        line-height: 30px;
        margin: 0 0 16px;
    }
}