.history__github-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}
.history__github-link:hover {
    opacity: 0.9;
}
@media screen and (max-width: 575px) {
    .history__github-link {
        display: none;
    }
}