.history__author-mail {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 280px;
}

@media screen and (max-width: 1024px) {
    .history__author-mail {
        width: 230px;
    }
}
@media screen and (max-width: 414px) {
    .history__author-mail {
        max-width: 190px;
    }
}