.history__commit-text {
    font-size: 16px;
    line-height: 22px;  
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    word-wrap: break-word;
}