@import url(./__elem/preloader__elem.css);
@import url(./__text/preloader__text.css);
@import url(./_is-closed/preloader_is-closed.css);

.preloader {
    display: block;
    background: #F5F6F7;
    padding: 80px 0;
}
@media screen and (max-width: 768px) {
    .preloader {
        padding: 40px 0;
    }
}