.background {
    background-image: url(../../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 414px) {
    .background {
        min-height: 536px;
    }
}