@font-face {
    font-family: 'Roboto';
    font-style:  normal;
    font-weight: normal;
    src: url("../../vendor/fonts/roboto-regular.woff") format("woff");
  }
  @font-face {
    font-family: 'Roboto';
    font-style:  normal;
    font-weight: 500;
    src: url("../../vendor/fonts/roboto-medium.woff") format("woff");
  }
  @font-face {
    font-family: 'Roboto slab';
    font-style:  normal;
    font-weight: normal;
    src: url("../../vendor/fonts/robotoslab-regular.woff") format("woff");
  }
  @font-face {
    font-family: 'Roboto';
    font-style:  normal;
    font-weight: 300;
    src: url("../../vendor/fonts/sourcesanspro-regular.woff") format("woff");
  }

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
.background {
    background-image: url(../../images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.header {
    min-height: 80px;
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}
.header__container {
    max-width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 103px;
}
.header__logo {
    width: 150px;
    height: 24px;
}
.header__links {
    min-height: 80px;
    display: flex;
}
.header__link {
    font-style:  normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 80px;
    margin-right: 34px;
    text-decoration: none;
    color: #B6BCBF;
}
.header__link:hover {
    color: #FFFFFF;
}
.header__link:last-child {
    margin-right: 0;
}
.header__link_active {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search__container {
    max-width: 608px;
    margin: 80px 0;
}
.search__title {
    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
    font-family: Roboto slab;
    margin: 0 0 32px 0;
}
.search__text {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 0 64px 0;
}
.search__input {
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    width: 68%;
    outline: none;
    border: none;
    border-radius: 100px;
}
.search__button {
    font-style:  normal;
    font-weight: 500;
    width: 168px;
    height: 100%;
    background: #2F71E5;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute;
    right: 0px;
    top: 0px;
}
.search__button:hover {
    background: #347EFF;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}
.search__button:focus {
    background: #2A65CC;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}
.search__form {
    background: #FFFFFF;
    max-width: 100%;
    height: 64px;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    padding-left: 24px;
    padding-right: 0;
    display: flex;
    margin: 0;
}
.preloader {
    background: #F5F6F7;
    padding: 80px 0;
}
.preloader__elem {
	display: block;
	width: 50px;
	height: 50px;
	border: 4px solid #444;
	border-bottom-color: #888;
    border-radius: 50%;
    margin: auto;
	animation: spin .75s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.preloader__text {
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    text-align: center;
    margin: 24px 0 0 0;
}