.header__links {
    min-height: 80px;
    display: flex;
}
@media screen and (max-width: 768px) {
    .header__links {
        min-height: 64px;
    }
}
@media screen and (max-width: 414px) {
    .header__links {
        min-height: 56px;
    }
}