.history__bullets {
    position: absolute;
    bottom: -48px;
}
@media screen and (max-width: 768px) {
    .history__bullets {
        bottom: -32px;
    }
  }
  @media screen and (max-width: 414px) {
    .history__bullets {
        bottom: -16px;
    }
  }